@import url(/css/null.css);

// FONTS

// ADD FONTS
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
	font-family: "AkzidenzGroteskBQ";
	src: url("/fonts/AkzidenzGroteskBQ-Bold.eot");
	src: local("☺"), url("/fonts/AkzidenzGroteskBQ-Bold.woff") format("woff"),
		url("/fonts/AkzidenzGroteskBQ-Bold.ttf") format("truetype"),
		url("/fonts/AkzidenzGroteskBQ-Bold.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "PT+Sans";
}

.container {
	max-width: 880px;
	margin: 0 auto;
	padding: 0px 10px;
}

//  header  =====================================================================================================================
.header {
	padding: 30px 0px 33px 0px;
	background-color: #fff;
	@media (max-width: 930px) {
		padding: 30px 15px 33px 15px;
	}
	@media (max-width: 768px) {
		padding: 5px 15px 10px 15px;
	}
}

.header-top {
	display: flex;
	justify-content: space-between;
	padding: 15px 0px 0px 0px;
	@media (max-width: 768px) {
		justify-content: flex-end;
	}
	&__link {
		position: relative;
		z-index: 5;
		font-family: "AkzidenzGroteskBQ";
		text-transform: uppercase;
		text-decoration: underline;
		font-size: 15px;
		color: #000;
		@media (max-width: 480px) {
			font-size: 11px;
		}
		@media (max-width: 380px) {
			position: absolute;
			right: 10px;
			max-width: 75px;
			line-height: 15px;
		}
	}
}
.header-top-lang {
	display: flex;
	@media (max-width: 768px) {
		display: none;
	}
	&__item {
		display: block;
		line-height: 19px;
		color: #000;
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-family: "Bebas";
		padding: 0px 4px;
		margin: 0px 10px 0px 0px;
		&.active {
			background-color: #000;
			color: #fff;
		}
	}
}
.header-bottom {
	display: flex;
	align-items: center;
	margin: -10px 0px 0px 0px;
	@media (max-width: 768px) {
		margin: -20px 0px 0px 0px;
	}
	@media (max-width: 380px) {
		margin: -7px 0px 0px 0px;
	}
	&__column {
		flex: 0 0 33.333%;
	}
}
.header-bottom-menu {
	@media (max-width: 768px) {
		display: none;
	}
	&__link {
		font-family: "AkzidenzGroteskBQ";
		color: #000;
		font-size: 14px;
		text-transform: uppercase;
		&:hover {
			text-decoration: underline;
		}
	}
}
.header-bottom-menu-list {
	display: flex;
	justify-content: space-between;
}
.header-logo {
	position: relative;
	z-index: 10;
	display: block;
	text-align: center;
	&__text {
		color: #000;
		font-family: "Bebas";
		font-size: 10px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 8px;
		display: block;
		@media (max-width: 768px) {
			font-size: 8px;
		}
		@media (max-width: 480px) {
			letter-spacing: 5px;
		}
	}
	&__image {
		display: inline-block;
		margin: 13px 0px 22px 0px;
		@media (max-width: 768px) {
			margin: 2px 0px 5px 0px;
			img {
				width: 150px;
			}
		}
		@media (max-width: 480px) {
			margin: 0px 0px 2px 0px;
			img {
				width: 100px;
			}
		}
	}
}

//         menu burger ======================================================================================
.hamburger-menu {
	height: 0;
}
#menu__toggle {
	opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}

.menu__btn {
	display: none;
	align-items: center;
	position: fixed;
	top: 20px;
	left: 20px;

	width: 26px;
	height: 26px;

	cursor: pointer;
	z-index: 3;
	@media (max-width: 768px) {
		display: flex;
	}
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;

	width: 100%;
	height: 2px;

	background-color: #616161;

	transition-duration: 0.25s;
}
.menu__btn > span::before {
	content: "";
	top: -8px;
}
.menu__btn > span::after {
	content: "";
	top: 8px;
}

.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 80px 0;

	list-style: none;

	background-color: #ebebeb;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
	z-index: 2;
	transition-duration: 0.25s;
}

.menu__item {
	display: block;
	padding: 12px 24px;

	color: #333;

	font-family: "AkzidenzGroteskBQ";
	font-size: 20px;

	text-decoration: none;

	transition-duration: 0.25s;
}
.menu__item:hover {
	background-color: #cfd8dc;
}
// private ===========================================================================================

.content {
}
.private {
	display: flex;
	background-color: #000;
	margin: 0px 0px 75px 0px;
	@media (max-width: 768px) {
		margin: 0px 0px 40px 0px;
	}
	&__column {
		flex: 0 0 50%;
		@media (max-width: 768px) {
			flex: 1 1 100%;
			&:first-child {
				display: none;
			}
		}
	}

	&__image {
		display: block;
		height: 100%;
		background: url("/img/block_1/01.png") center no-repeat;
		background-size: cover;
	}
}
.private-body {
	padding: 75px 20px 75px 60px;
	@media (max-width: 930px) {
		padding: 30px 20px 30px 30px;
	}
	&__title {
		font-family: "AkzidenzGroteskBQ";
		font-size: 50px;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 5px;
		margin: 0px 0px 30px 0px;
		@media (max-width: 930px) {
			font-size: 35px;
			margin: 0px 0px 20px 0px;
		}
	}
	&__text {
		font-size: 15px;
		line-height: 25px;
		color: #fff;
		margin: 0px 0px 50px 0px;
		@media (max-width: 930px) {
			margin: 0px 0px 30px 0px;
		}
	}
}
.private-body-content {
	max-width: 305px;
	@media (max-width: 768px) {
		max-width: 420px;
		margin: 0 auto;
	}
}
.private-body-buttons {
	display: flex;
	align-items: center;
	&__item {
	}

	&__link {
		font-family: "Bebas Neue";
		text-transform: uppercase;
		color: #fff;
		font-size: 15px;
		text-decoration: underline;
		margin: 0px 0px 0px 15px;
		letter-spacing: 1.5px;
	}
}
.btn {
	height: 50px;
	line-height: 52px;
	background-color: #000;
	display: inline-block;
	padding: 0px 33px;
	font-size: 15px;
	font-family: "Bebas Neue";
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1.5px;
	&--w {
		background-color: #fff;
		color: #000;
	}
	&:hover {
		background-color: rgb(134, 134, 130);
		transition: all 0.4s ease;
	}
}

// products =========================================================================================================================================
.products {
	margin: 0px 0px 40px 0px;
	@media (max-width: 768px) {
		margin: 0px 0px 0px 0px;
	}
}

.products-body {
	display: flex;
	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
}
.products__column {
	flex: 0 0 25%;
	margin: 0px 0px 40px 0px;
	@media (max-width: 768px) {
		flex: 0 0 50%;
	}
	@media (max-width: 380px) {
		flex: 1 1 100%;
	}
}
.products-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__image {
		display: block;
		padding: 0px 0px 100% 0px;
		margin: 0px 0px 25px 0px;
		background: url("/img/block_2/01.png") center no-repeat;
		background-size: cover;
		&--2 {
			display: block;
			padding: 0px 0px 100% 0px;
			margin: 0px 0px 25px 0px;
			background: url("/img/block_2/02.png") center no-repeat;
			background-size: cover;
		}
		&--3 {
			display: block;
			padding: 0px 0px 100% 0px;
			margin: 0px 0px 25px 0px;
			background: url("/img/block_2/03.png") center no-repeat;
			background-size: cover;
		}
		&--4 {
			display: block;
			padding: 0px 0px 100% 0px;
			margin: 0px 0px 25px 0px;
			background: url("/img/block_2/04.png") center no-repeat;
			background-size: cover;
		}
	}

	&__title {
		max-width: 185px;
		height: 50px;
		overflow: hidden;
		padding: 0px 10px 0px 0px;
		display: block;
		font-family: "AkzidenzGroteskBQ";
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #000;
		font-size: 25px;
		margin: 0px 0px 30px 0px;
		@media (max-width: 380px) {
			max-width: none;
			height: auto;
			overflow: visible;
			font-size: 22px;
		}
	}

	&__text {
		flex: 1 1 auto;
		max-width: 185px;
		padding: 0px 10px 0px 0px;
		font-size: 15px;
		line-height: 25px;
		margin: 0px 0px 25px 0px;
		@media (max-width: 380px) {
			max-width: none;
		}
	}

	&__btn {
		margin: 0px 0px 29px 0px;
	}

	&__link {
		font-family: "Bebas Neue";
		color: #000;
		text-transform: uppercase;
		text-decoration: underline;
		font-size: 15px;
		letter-spacing: 1.5px;
	}
}

// why =========================================================================================================

.why-top {
	display: flex;
	background-color: #000;
	&__column {
		flex: 0 0 50%;
		@media (max-width: 930px) {
			flex: 1 1 100%;
			&:last-child {
				display: none;
			}
		}
	}

	&__text {
		color: #fff;
		font-family: "AkzidenzGroteskBQ";
		font-size: 50px;
		text-transform: uppercase;
		letter-spacing: 3.5px;
		text-align: right;
		padding: 50px 60px 50px 0px;
		@media (max-width: 1210px) {
			font-size: 40px;
			letter-spacing: 1.5px;
			padding: 30px 0px;
			text-align: center;
		}
		@media (max-width: 768px) {
			font-size: 30px;
			padding: 20px 0px;
			letter-spacing: normal;
		}
	}

	&__image {
		background: url("/img/block_3/01.png") center no-repeat;
		background-size: cover;
		height: 100%;
	}
}

.why-body {
	background-color: #ebebeb;
	padding: 50px 0px 0px 0px;
	@media (max-width: 380px) {
		padding: 30px 0px 0px 0px;
	}
}
.why-body__column {
	flex: 0 0 50%;
	margin: 0px 0px 50px 0px;
	@media (max-width: 768px) {
		flex: 1 1 100%;
		margin: 0px 0px 35px 0px;
	}
}
.why-body-row {
	display: flex;
	flex-wrap: wrap;
}
.why-body-item {
	display: flex;
	&__icon {
		flex: 0 0 100px;
		height: 100px;
		background-color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 380px) {
			flex: 0 0 80px;
			height: 80px;
			padding: 5px;
			img {
				max-width: 100%;
			}
		}
	}
}
.why-body-item-body {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	padding: 0px 0px 0px 11px;

	&__title {
		flex: 1 1 auto;
		font-family: "AkzidenzGroteskBQ";
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 20px;
		@media (max-width: 380px) {
			font-size: 18px;
		}
	}

	&__text {
		font-size: 15px;
		font-weight: 500;
		padding: 0px 15px 0px 0px;
		line-height: 25px;
	}
}
// contacts ======================================================================================================================
.contacts {
	padding: 80px 0px 0px 0px;
	@media (max-width: 768px) {
		padding: 20px 0px 0px 0px;
	}
	&__title {
		font-family: "AkzidenzGroteskBQ";
		text-transform: uppercase;
		font-size: 50px;
		letter-spacing: 3.5px;
		margin: 0px 0px 30px 0px;
		@media (max-width: 768px) {
			text-align: center;
			font-size: 30px;
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: 380px) {
			font-size: 30px;
		}
	}
}
.contacts-top {
}
.contacts-body {
	display: flex;
	flex-wrap: wrap;
	&__column {
		flex: 0 0 50%;
		margin: 0px 0px 20px 0px;
		@media (max-width: 768px) {
			flex: 1 1 100%;
			margin: 0px 0px 15px 0px;
		}
	}

	&__item {
		display: inline-block;
		color: #000;
		font-size: 15px;
		line-height: 27px;
		padding: 0px 0px 0px 35px;
	}

	&__item--1 {
		background: url("/img/block_4/01.svg") left no-repeat;
	}

	&__item--2 {
		background: url("/img/block_4/02.svg") left no-repeat;
	}

	&__item--3 {
		background: url("/img/block_4/03.svg") left no-repeat;
	}
}
.contacts-social {
	display: flex;
	&__item {
		margin: 0px 30px 0px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		&:hover {
			opacity: 0.5;
			transition: opacity 0.5s ease;
		}
	}
}
.contacts-content {
	display: flex;
	background-color: #000;
	@media (max-width: 768px) {
		display: block;
	}
	&__column {
		flex: 0 0 50%;
	}

	&__map {
		height: 100%;
	}
}
.contacts-content__map iframe {
	width: 100%;
	height: 100%;
	@media (max-width: 768px) {
		height: 300px;
	}
}
.contacts-content-form {
	padding: 55px 60px;
	@media (max-width: 768px) {
		padding: 30px;
	}
	&__title {
		font-family: "AkzidenzGroteskBQ";
		text-transform: uppercase;
		color: #fff;
		font-size: 25px;
		letter-spacing: 3.5px;
		margin: 0px 0px 30px 0px;
		@media (max-width: 768px) {
			text-align: center;
		}
	}

	&__btn {
	}
}
.contacts-content-form-body {
	max-width: 375px;
	@media (max-width: 768px) {
		max-width: none;
	}
}
.contacts-content-form-line {
	margin: 0px 0px 25px 0px;
}
.input {
	border-radius: 0;
	width: 100%;
	height: 50px;
	display: block;
	padding: 0px 18px;
	border: 2px solid #959595;
	background-color: #252525;
	color: #959595;
	font-size: 15px;
}
textarea.input {
	resize: none;
	height: 100px;
	padding: 10px 18px;
}
// footer ======================================================================================================
.footer {
	&__text {
		color: #4d4d4d;
		font-size: 15px;
		line-height: 25px;
		a {
			color: #4d4d4d;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}

	&__logo {
	}
}
.container {
}
.footer-body {
	padding: 0px 15px;
	display: flex;
	height: 125px;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 768px) {
		height: auto;
		padding: 15px 0px;
		flex-direction: column;
	}
	&__column {
		@media (max-width: 768px) {
			&:first-child {
				order: 2;
			}
			&:last-child {
				order: 1;
				margin: 0px 0px 15px 0px;
			}
		}
	}
}
